<div class="space-y-10">
  <div class="space-y-4">
    <h2 class="text-primary-900 text-lg font-bold tracking-widest uppercase">
      PREGUNTA {{ number() }}
    </h2>

    @if (loading()) {
      <p-skeleton width="100%" height="4rem" />
    } @else if (question()) {
      <p class="text-surface-600 text-xl leading-relaxed">
        {{ question()?.text }}
      </p>
    }
  </div>

  <div class="grid grid-cols-1 gap-4">
    @if (loading()) {
      <p-skeleton width="100%" height="4rem" borderRadius="0.5rem" />
      <p-skeleton width="100%" height="4rem" borderRadius="0.5rem" />
      <p-skeleton width="100%" height="4rem" borderRadius="0.5rem" />
      <p-skeleton width="100%" height="4rem" borderRadius="0.5rem" />
    } @else if (question()) {
      @for (option of question()?.options; track option.id) {
        <p-button
          [label]="option.label"
          [severity]="getOptionSeverity(option.id)"
          (click)="selectOption(option.id)"
          [disabled]="isAnswered() || (submitting() && option.id !== selectedOptionId())"
          [loading]="submitting() && option.id === selectedOptionId()"
          [pt]="getOptionPt()"
          fluid
        />
      }
    }
  </div>

  @if (isAnswered() && question()?.feedback; as feedback) {
    <div
      class="bg-surface-50 border-surface-200 animate-in fade-in slide-in-from-top-4 rounded-2xl border p-6 transition-all duration-300"
    >
      <div class="space-y-4">
        <div class="text-primary-900 flex items-center gap-2">
          <i class="pi pi-info-circle"></i>
          <h3 class="font-bold tracking-widest uppercase">Justificación</h3>
        </div>
        <p class="text-surface-600 leading-relaxed">
          {{ feedback.text }}
        </p>
        @if (feedback.source) {
          <div class="border-surface-200 mt-4 border-t pt-4">
            <p class="text-surface-500 text-sm italic">
              <span class="font-bold not-italic">Fuente:</span> {{ feedback.source }}
            </p>
          </div>
        }
      </div>
    </div>
  }
</div>
